<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="resourcePath.ExtentReporterNG"/>
    </listeners>
    <test name="TestSuite1">
        <classes>
            <class name="tests.PayPalOrderTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->